@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7f81b1;
  border-radius: 50%;
}

/* even and odd */
.TodoListStyle ul:nth-child(even) {
  background: linear-gradient(to right, #00b8d4, #29b6f6);
  
}
.TodoListStyle ul:nth-child(odd) {
  background: rgba(255, 255, 0, 0.278);
}
